<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>vlv</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="static/css/bootstrap.css"/>
    <link rel="stylesheet" href="static/css/bootstrap-theme.css"/>
    <script src="static/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div>
            <h1><span class="glyphicon glyphicon-fire"></span>&nbsp;vlv</h1>
            <p class="lead">Feel free to read these scribbles on the walls of my cave.</p>
            <p>
                <ul class="list-inline">
                    <li><span class="glyphicon glyphicon-tree-conifer"></span>&nbsp;<a href="https://facebook.com/varlfu">facebook.com/varlfu</a></li>
                    <li><span class="glyphicon glyphicon-tree-deciduous"></span>&nbsp;<a href="https://twitter.com/varlx">twitter.com/varlx</a></li>
                </ul>
            </p>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div>
            <h2>Essays</h2>
            <ul class="list-unstyled">
                #foreach ($page in $pages.keySet())
                    #if ($page != "index")
                        <li><a href="${page}.html">$pages.get($page)</a></li>
                    #end
                #end
            </ul>
        </div>
    </div>
    <div class="row">
        <div>
            <hr/>
            <p class="small">This was generated by <a href="https://github.com/varl/spine" title="Spine">Spine</a>.</p>
        </div>
    </div>
</div>
</body>
</html>